<!--&lt;!&ndash; create simple weather html file with title Weather Application &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--&lt;!&ndash; add thymeleaf namespace to the html file &ndash;&gt;-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Weather Application</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Weather Forecasting.....</h1>-->

<!--&lt;!&ndash; create a table to display the weather details &ndash;&gt;-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            <th>City</th>-->
<!--            <th>Temperature</th>-->
<!--            <th>Pressure</th>-->
<!--            <th>Humidity</th>-->
<!--            <th>Wind Speed</th>-->
<!--        </tr>-->
<!--        -->
<!--        <tr>-->
<!--            <td th:text="${city}"></td>-->
<!--            <td th:text="${temperature}"></td>-->
<!--            <td th:text="${pressure}"></td>-->
<!--            <td th:text="${humidity}"></td>-->
<!--            <td th:text="${windSpeed}"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</body>-->
<!--</html>-->